################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PranicAhmedbad/.vs
obj 
bin
bin/debug
bin/release
packages
.vs
/PranicAhmedbad/obj
/PranicAhmedbad/bin
/PranicAhmedbad.Lib/obj
/PranicAhmedbad.Lib/bin
/PranicAhmedbad.Test/obj
/PranicAhmedbad.Test/bin
/.vs/PranicAhmedbad/v17/.wsuo
/PranicAhmedbad/log
