################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PranicAhmedbad/.vs
OBJ 
bin 
/PranicAhmedbad/OBJ
/PranicAhmedbad/bin
/PranicAhmedbad.Lib/OBJ
/PranicAhmedbad.Lib/bin

/PranicAhmedbad.Test/OBJ
/PranicAhmedbad.Test/bin